# Database configuration
DB_NAME=books_exchange
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

# Flask configuration
FLASK_ENV=development
FLASK_DEBUG=True

# Frontend configuration (если понадобится в будущем)
REACT_APP_API_URL=http://localhost:5001 